@model Airline.Model.Models.PaginationModel
@{
    ViewBag.Title = "My tickets";
}



<div class="container">
    <div id="themes-container">
        @Html.Partial("TicketPartialView.cshtml")
    </div>
</div>