@model Airline.Model.Models.PaginationModel
@{
    ViewBag.Title = "My bookings";
}

<div class="container">
    <div id="themes-container">
        @Html.Partial("BookingPartialView.cshtml")
    </div>
</div>